extends layout.pug

block content
    section#content
        h1 My Portfolio
        p   Hi, my name is David. Im a full stack web developer in the making!  This is my portfolio where I can show off a few of the applications/projects I have built

        a(href='/randomQuoteGenerator') Random Quote Generator
        br
        a(href='/paginationAndFiltering') Pagination and Filtering Project
        br
        a(href='/interactiveForm') Interactive Form
        br
        a(href='/OOPGameShow') OOP Game Show
        br
        a(href='/publicAPIRequest') Public API Requests Project
        