doctype html
html(lang = "en")
    head
        title David Domingo's Website
    body
        .navigation
            h2 David Domingo
            h3 Full Stack Javascript Developer
            br
            a(href='/') Home
            br
            a(href='/about') About

        block content
        