extends layout.pug

block content
    section#content
        h1 Random Quote Generator
        p  This project generates a random quote, along with its author and source.  Quotes are randomly picked from a list